name: Block Workflow Pull Requests

on:
  pull_request_target:
    paths:
      - '.github/CODEOWNERS'

jobs:
  test:
    permissions:
      pull-requests: write
    runs-on: "ubuntu-latest"
    steps:
      - uses: kyle-singer/superbrothers-close-pull-request@v3
        with:
          comment: "Hi! We aren't accepting updates to workflow files in pull requests, so must reject this pull request."
